.home-container {
  padding: 20px;
}

.intro h1 {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.intro {
  background-image: linear-gradient(to right, rgb(97, 7, 97) 0%, #8a198a 50%, #3a0668 100%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-style: italic;
  padding: 40px;
  text-align: center;
}

.categories-section {
  text-align: center;
}

.categories-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-item {
  position: relative;
  text-align: center;
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.category-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 1 / 1; /* Ensures a square image regardless of size */
  object-fit: cover; /* Crop the image to fit the square */
  border-radius: 8px;
  border: 2px solid black;
}

.category-info {
  margin-top: 10px;
}

.category-info h3 {
  margin: 0;
  font-size: 18px;
}

.price {
  margin-top: 5px;
}

.original-price {
  text-decoration: line-through;
  color: red;
  margin-right: 5px;
}

.offer-price {
  color: green;
  font-weight: bold;
}

/* Single Lehenga button at the bottom */
.lehenga-section {
  text-align: center;
  margin-top: 30px;
}

.lehenga-button {
  background-color: purple;
  color: white;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.lehenga-button:hover {
  background-color: darkpurple;
}
.contact-container {
  text-align: center;
  margin-top: 20px;
}

.contact-option {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  color: white;
  background-color: #1b1b1b; /* Purple color */
  border-radius: 5px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.contact-option:hover {
  background-color: #4a148c; /* Darker purple */
}

.contact-option svg {
  margin-right: 8px;
} 